:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cream);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: row;
  max-width: 600px;
  background-color: var(--white);
  border-radius: 10px;
  overflow: hidden;
  height: 70%;
}

.left-side {
  width: 100%;
  height: 100%;
  background-image: url(/images/image-product-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.right-side {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 25px;
  padding: 5px;
}

.heading {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--dark-grayish-blue);
}

.title {
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  padding-right: 10px;
  margin-top: 18px;
  color: var(--very-dark-blue);
}

.subtitle {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  margin: 25px 0;
  color: var(--dark-grayish-blue);
  letter-spacing: 0.2px;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0 15px 0;
}

.info h1 {
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 32px;
  color: var(--dark-cyan);
}

.info p {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
  margin-left: 22px;
}

.button {
  background-color: var(--dark-cyan);
  border-radius: 10px;
  border: none;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 100%;
}

.button .icon {
  background: url(/images/icon-cart.svg) no-repeat;
  width: 16px;
  height: 16px;
  display: block;
  padding: 0 15px;
}

.button p {
  color: var(--white);
  font-family: "Montserrat";
  font-weight: 700;
  text-decoration: none;
  font-size: 16px;
}

@media (max-width: 650px) {
  .card {
    flex-direction: column;
    max-width: 470px;
    height: 90%;
  }
  .left-side {
    background-image: url(/images/image-product-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .button {
    width: 50%;
  }
}

@media (max-width: 470px) {
  .card {
    max-width: 400px;
  }
  .title {
    font-size: 36px;
  }
  .subtitle {
    font-size: 16px;
    padding-right: 50px;
  }
  .button {
    width: 90%;
  }
  .button .icon {
    padding: 0;
  }
}
